/.venv
/streamlit
.env
Adho-Mukha-Svanasana.mp4
videoplayback.mp4

*.log
*.env
*.pkl
*.h5
*.pt
*.pth
*.pyc
*.task

secrets.toml
yoga_assistant-gpt.py
/yoga-posture-dataset
/Yoga.Posture.yolov8
/__pycache__
/__pycache__
/__pycache__
/__pycache__
