/.venv
/streamlit
.env
Adho-Mukha-Svanasana.mp4
videoplayback.mp4

*.log
*.env
*.pkl
*.h5
*.pt
*.pth
*.pyc
*.task

secrets.toml
yoga_assistant-gpt.py
angles_and_adjustments.txt
/yoga-posture-dataset
/Yoga.Posture.yolov8
/__pycache__
/__pycache__
/__pycache__
/__pycache__
postman-1d612ad20031.json
postman-d7f466fce9c4.json
postman-f46c5e7cac83.json
