streamlit
streamlit-option-menu
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
sendgrid
twilio
python-dotenv
hume
plotly
groq
python-dotenv
pypdf2
gspread
oauth2client

mediapipe
opencv-python
tensorflow
scikit-learn
joblib
ultralytics
cvzone